#!/bin/bash

# Replace <DEPLOYMENT-DOMAIN> with haitin.edu.vn in nginx.conf and local_settings.py
sed -i 's/<DEPLOYMENT-DOMAIN>/haitin.edu.vn/g' "./idzhost.vn-haitin.edu.vn/nginx/nginx.conf"
sed -i 's/<DEPLOYMENT-DOMAIN>/haitin.edu.vn/g' "./idzhost.vn-haitin.edu.vn/local_settings.py"
sed -i 's/<DEPLOYMENT-DOMAIN>/haitin.edu.vn/g' "./idzhost.vn-haitin.edu.vn/fixtures/demo.json"
sed -i 's/<DEPLOYMENT-DOMAIN>/haitin.edu.vn/g' "./idzhost.vn-haitin.edu.vn/fixtures/navbar.json"

sed -i 's/<SERVER-ADDRESS>/123.343.2.1/g' "./idzhost.vn-haitin.edu.vn/local_settings.py"

# Copy modified nginx.conf and local_settings.py to the config directory
cp "./idzhost.vn-haitin.edu.vn/nginx/nginx.conf" "./config/nginx/nginx.conf"
cp "./idzhost.vn-haitin.edu.vn/local_settings.py" "./config/local_settings.py"
cp "./idzhost.vn-haitin.edu.vn/fixtures/demo.json" "./site/judge/fixtures/demo.json"
cp "./idzhost.vn-haitin.edu.vn/fixtures/navbar.json" "./site/judge/fixtures/navbar.json"
cp "./idzhost.vn-haitin.edu.vn/logo.svg" "./site/resources/icons/logo.svg"
#cp "./idzhost.vn-haitin.edu.vn/site/judge/utils/problem_data.py" "./site/judge/utils/problem_data.py"